body{
   font-family: antialiased;
   overflow-x: hidden;
}
a{text-decoration: none;}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
/* header */
header{
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 0!important;
    padding-right: 0!important;
}
/* header .row{
    padding-right: 40px!important;
    padding-left: 40px !important;
} */
/* 1st nav *******************8*/

.first-nav{
    border-bottom: 1px solid rgba(12, 184, 182, 0.4);
    font-size: 14px;
    padding-top: 10px;
}
.first-nav ul{
    padding-inline-start: 0!important;
}
.first-nav ul li{
  display: inline-block;
  list-style: none;
  padding-left:15px;
}
.first-nav ul li span:hover{
   color: #0cb8b6;
   cursor: pointer;
}
.first-nav ul li i{
    color:#d4d8d9;
    font-size: 16px;
}

.Appointments-link{
    text-decoration: none;
    color: #0cb8b6;
    font-size: 16px;
    font-weight: bold;
}
.Appointments-link:hover{
    text-decoration: none;
    color:#000;
}
/* sec nav*************** */
nav{
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
   margin-left: 0!important;
   margin-right: 0!important;

}
nav .nav-link:hover{
    color: #0cb8b6!important;
}
nav .nav-link:active{
    color: #0cb8b6!important;
}nav .nav-link.active{
    color: #0cb8b6!important;
}

/* slider**************** */
.slider-container{
    background: url(../imgs/hero-bg.jpg);
    background-repeat: no-repeat;
    position:relative;
    margin:0!important;
    padding:0!important;
    position: relative;
    height: 600px;
    width: 100%!important;

}
.slider-container img{
  position: absolute;
  overflow-y: hidden;
  top:-80px;
  right: 100px;
  height: 680px;
  transition:all 1s ease-in-out;

}

.slider-bg-shape{
    background: url(../imgs/hero-shape.png);
    background-repeat: no-repeat;
    background-position:left bottom;
    padding-top: 100px;
    padding-left:0!important;
    padding-right:0!important;
    margin-left:0!important;
    margin-right: 0!important;
    background-size: contain;
    z-index: 99;
    height: 100%;

}
.slider-content{
    padding-left: 120px;
    padding-top: 70px;
    padding-right:0!important;

}
.slider-title{
    font-size: 70px;
    line-height: 3rem;
    color: #111;
}
.slider-words{
    line-height: .9rem;
    font-size: 16px;
}
.slider-imgs{
    min-height: 500px;
    position: relative;
}
/* .slider-imgs img{
    position: absolute;
    top:-200px;
    height: 500px;
    overflow-y: hidden;
} */
.slider-link{
    padding: 15px ;
    border-radius: 8px;
    color: #fff;
    background-color: #0cb8b6;
    font-size: 20px;
    margin-top: 20px!important;
    transition: all 1s ease-in-out;
}
.slider-link:hover{
    color: #d4d8d9;
}
.slider-icons ul{
    padding-inline-start: 0!important;
    margin-top: 100px!important;



}
.slider-icons ul li{
    display: inline-block;
    list-style: none;
    padding: 5px;

}
.slider-icons ul li a{
    color: #fff;
    background-color: #0cb8b6;
    border-radius: 6px;
    padding:5px;
    transition: all .3s ease ;
}
.slider-icons ul li:hover{
font-size: 12px;
}
.slider-icons ul li a i{
    font-size: 10px;
    padding: 5px;
}

/* home2 section *************************************************/
.home2{
    margin-top: 150px;
}
.home2-content{
    padding: 10px;
    border: 1px solid #eee;
    margin: 10px;
    border-radius: 5px;
    transition: all .3s ease;
}
.home2-content:hover{
    box-shadow: 0px 0px 20px 2px #eceaea;
    border: none;
}
.avatar-home2{
    height: 100px;
    width:100px;
    background-color: aqua;
    border-radius: 50%;
}
.avatar-home2 i{
    font-size:30px;
    padding: 36%;
}
.avatar1-home2{
    background-color:#f0eafe ;
}
.avatar2-home2{
    background-color: #e6f6eb;
}
.avatar3-home2{
    background-color:#fdebe8 ;
}
.avatar1-home2 i{
    color: #7b74f3;

}
.avatar2-home2 i{
 color: #37af47;
}
.avatar3-home2 i{
color: #e6492d ;
}
.home2-content p{
    line-height: .3rem;
    font-size: 16px;
    color:#727272;
}
/* about **********************************************************/
.about{
    margin-top: 100px;
    background:url(../imgs/about-bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}
.about-title{
    font-size: 60px;
}
.about-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.about-logo-container{
    position: relative;
}
.about-logo{
    animation: rotating 6s infinite linear;
}
.about-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.about-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.about-title2{
 font-size: 40px;
}
.about-avatar-img{
    display: inline-block;
}

.abuot-avatar-name{
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding-inline-start: 0!important;


}

.abuot-avatar-name h5{
    color: #0cb8b6;
    font-size: 25px;
}
.abuot-avatar-name{
    font-size: 15px;
    color:#6b6b6b;
}
.about-table{
  background-color: #f8f9fb;
  padding: 20px;
}
.about-table .container{
    border: 1px solid #0cb8b6;
    height: 100%;
    padding: 20px;

}
.about-table-title{
    color:#0cb8b6;
    font-size: 30px;
    padding: 10px;
}
.about-timetable{
    list-style: none;
    padding-inline-start: 0!important;

}
.about-timetable li{
    padding: 10px;
    border-bottom: 1px dashed #6b6b6b;
    color:  #6b6b6b;
}
.about-tel ul {
    display: inline-block;
    list-style: none;
    padding-inline-start: 0!important;

}
/* department **********************************************************/
.department{
    margin-top: 100px;
}
.department-title{
    font-size: 60px;
}
.department-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.department-logo-container{
    position: relative;
}
.department-logo{
    animation: rotating 6s infinite linear;
}
.department-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.department-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.department-tabs-container {

}

.department-tabs-container .nav-tabs{
     border-bottom: none!important;
     padding-inline-start: 0!important;

}
.department-tabs-container .nav-link{
    padding: 25px 40px;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.department-tabs-container .nav-link i{
    font-size: 40px;
}
.department-tabs-container .nav-link.active{
    border: none!important;
    color:#fff;
}
.department-tabs-container .nav-link.active i{
    color: #fff!important;
}

/* aqua */
.aqua{
    background-color: #e7f7f8!important;
}
.aqua i{
      color: #0cb8b6!important;
}
.aqua.active{
    background-color: #0cb8b6!important;
}
/* rose */
.rose{
    background-color: #fdebe8!important;
}
.rose i{
    color: #e6492d!important;
}
.rose.active{
    background-color: #e6492d!important;
}
/* lightgreen */
.lightgreen{
    background-color: #e6f6eb!important;
}
.lightgreen i{
    color:#37af47!important;
}
.lightgreen.active{
    background-color:#37af47!important;
}
/* lightpurpel */
.lightpurpel{
    background-color:#ebecfb!important;
}
.lightpurpel i{
    color:#1665d8!important;
}
.lightpurpel.active{
    background-color:#1665d8!important;
}
/* lightorange */
.lightorange{
    background-color: #fff5e6!important;
}
.lightorange i{
   color: #f6ac37!important;
}

.lightorange.active{
    background-color: #f6ac37!important;
}
/* lightgray */
.lightgray{
    background-color: #f5f5f6!important;
}
.lightgray i{
   color: #9ea0a5!important;
}
.lightgray.active{
    background-color: #9ea0a5!important;
}
.department-title-color{
    color:#0cb8b6;
}
.department-details h3{
    font-size: 45px;
}
.department-details h5{
    font-size:25px;
}
.department-content{
   color:#6b6b6b;
   font-size: 16px;
}
.department-read-more{
    color: #fff;
    background-color: #0cb8b6;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}
/* appointments*********************** */

.appointments{
    margin-top: 100px;
    background: url(../imgs/contact.svg)  #f9fafc;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 60px;
}
.appointments-title{
    font-size: 60px;
}
.appointments-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.appointments-logo-container{
    position: relative;
}
.appointments-logo{
    animation: rotating 6s infinite linear;
}
.appointments-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.appointments-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
/* form****************** */
.form-bg{
    background: url(../imgs/section_shape.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.dropdown button{
    background-color: #fff;
    color:#9ea0a5;
    border: 1px solid #ced4da;

}
.form-btn{
    background-color: #0cb8b6;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
}
.dropdown-toggle::after {
    position: absolute;
    top:20px;
    right: 20px;
}
.dropdown-menu.show{
    width: 100%;
}
.dropdown-item:hover{
    background-color: rgba(12, 184, 182, 0.1);
    color: #0cb8b6;
}

/*Doctors **************************************************************** */

.doctors{
    margin-top: 100px;
    border-bottom: 1px solid #eee;
    padding-bottom: 100px;
}
.doctors-title{
    font-size: 60px;
}
.doctors-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.doctors-logo-container{
    position: relative;
}
.doctors-logo{
    animation: rotating 6s infinite linear;
}
.doctors-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.doctors-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    

}


.doctors-detail{
 border: 1px solid #eee;
 width: 250px;
 overflow: hidden;

}
.doctors-names{
    color: #111;
}
.doctors-detail-container{
    height: 350px;
    overflow: hidden;
}
.doctors-detail-bg{
    height: 350px!important;
    width: 250px!important;
    position: relative;
    transition: all 1s ease-in-out;
    overflow-y: hidden;
}
.doctors-detail-bg:hover{
    transform: scale(1.1);
}
.doctors-detail-bg:hover .doctors-detail-icons{
    display: block;
}
.doctors-detail-icons{
    background: url(../imgs/member-shape.svg);
    background-position: bottom;
    height:110px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    display: none;
}
/* .show{
    
    display: block;
} */
.doctors-detail-icons ul{
    padding-inline-start: 0!important;
}
.doctors-detail-icons li{
    display: inline-block;
    list-style: none;
    
}
.doctors-detail-icons li a i{
  color: #0cb8b6; 
  background-color: #fff;
  font-size: 15px; 
  padding: 2px 8px;
  border-radius: 5px;
}
.owl-carousel:hover .owl-next ,.owl-carousel:hover .owl-prev{
    display: block;
}
.owl-next{
    outline: none;
    position: absolute;
    top: 32%;
    right: -5%;
    background: #fff;
    font-size: 44px!important;
    height: 65px;
    border-radius: 50%;
    width: 65px;
    box-shadow: 0px 5px 10px 0px rgba(106, 106, 106, 0.15);
    display: none;
}
.owl-prev{
    outline: none;
    position: absolute;
    top: 32%;
    left: -5%;
    background: #fff;
    font-size: 44px!important;
    height: 65px;
    border-radius: 50%;
    width: 65px;
    box-shadow: 0px 5px 10px 0px rgba(106, 106, 106, 0.15);
    display: none;

}
/*gallery ******************************************************************* */
.gallery{
    margin-top: 100px;
}
.gallery-title{
    font-size: 60px;
}
.gallery-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.gallery-logo-container{
    position: relative;
}
.gallery-logo{
    animation: rotating 6s infinite linear;
}
.gallery-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.gallery-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.gallery-nav-container{
    border-bottom: 2px solid #eaeaea;

}
.gallery-nav .nav-tabs{
    margin-left: 15%;
    margin-right: 15%;
    border: none!important;
}
.gallery-nav .nav-tabs a{
    font-size: 15px;
    font-weight: 600;
    color: #676767;
}
.gallery-nav .nav-tabs a:hover{
    color: #0cb8b6!important;
    border: none!important;
}
.gallery-nav .nav-tabs .active{
    
    color: #0cb8b6;
    border:none!important;

}
.gallery-nav .nav-tabs .active::before{
    content: "";
    background-color: #0cb8b6;
    position: absolute;
    top: 42px;
    width: 60%;
    height: 2px;
    left: 23px;

}
.gallery-col{
    overflow: hidden;
}
.gallery-col a{
    overflow: hidden;
    position: relative;
    margin:0 15px;
    transition: all 1s ease-in-out;
}
.gallery-col a img{
    transition: all 1s ease-in-out;
}
.gallery-col a:hover img{
    transform: scale(1.1);
}
.gallery-row:hover .gallery-link-overlay{
    display: block;
}
.gallery-col a img{
    width: 100%;
}
.gallery-link-overlay{
    position: absolute;
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0, 0, 0, 0.5);
    top:0!important;
    left:0!important;
    display: none;
    
}
.gallery-link-overlay button{
    margin-left: 80%;
    background-color:#0cb8b6;
    padding: 50px 10px 10px;
    border-radius: 0 0 40px 40px;
    font-size: 20px;
}
.gallery-link-overlay button i{
    background-color: #fff;
    color: #0cb8b6;
    padding: 5px;
    border-radius: 50%;
    
}

/* after-before************************************************************** */
.after-before{
    margin-top: 100px;
    background: url(../imgs/before-after-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.after-before-title{
    font-size: 60px;
}
.after-before-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.after-before-logo-container{
    position: relative;
}
.after-before-logo{
    animation: rotating 6s infinite linear;
}
.after-before-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.after-before-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.after-before-drag-bg{
    background: url(../imgs/before.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 780px!important;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #fff;
    border-radius: 7px;
    box-shadow: 0px 2px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    
}
.after-before-drag-btn{

  
}
.after-before-drag-btn button{
    font-size: 30px;
    position: absolute;
    z-index: 99;
    color: #000;
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 3px 5px;
    text-align: center;
    border: none!important;
    outline: none!important;
    top: 43%;
    left: 47%;
     cursor: ew-resize;
}

.after-before-drag-img{
    width: 382px;
    height: 103%;
    background:url(../imgs/after.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    border-left: 2px solid #fff;
    left:50%

}
/* .after-before-drag-img img{
    width: 380px;
    height: 430px;
} */
/* clients******************************************************************* */
.clients{
    margin-top: 100px;
}
.clients-title{
    font-size: 60px;
}
.clients-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.clients-logo-container{
    position: relative;
}
.clients-logo{
    animation: rotating 6s infinite linear;
}
.clients-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.clients-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.people-say-slider{
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius:10px ;
    margin: 10px;
}
.people-say-slider:hover{
    border: none;
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.15);
}
.people-say-slider:hover h4 , .people-say-slider:hover div i{
    color: #0cb8b6;

}
.people-say-slider p{
    color: #666;
    font-size: 15px;
    line-height: 1.6rem;

}
.people-say-slider h4{
    font-size: 20px;
    font-weight:600;
    color: #111;
    line-height: 1.2rem;
    margin: 8px;

}
.people-say-slider h6{
    font-size: 15px;
    font-weight: 400;
    color: #666;
    line-height: 1.3rem;
}
.people-say-slider img{
    height:100px;
    width: 100px!important;
    margin-left: auto;
    margin-right: auto;
}
.people-say-slider div i{
    font-size: 50px;
    color: #f5f5f5;
    position: absolute;
    top: 80%;
    right: 5%;
}
/* countdown***************************************************************** */
.countdown{
    background: #f9fafc;
    margin-top: 20px;
}
.countdown-row{
    background: url(../imgs/section_shape.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.count-table {
    padding: 100px;
}
.countdown-part{
    border: 1px solid #eaeaea;
    padding: 20px ;
    margin: 15px;
    background: #fff;
    border-radius: 5px;

}
.countdown-part i{
    font-size: 30px;
    padding: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #000;
    text-align: center;
}
.countdown-part .fa-hand-holding-heart{
    color: #6758f3;
    background-color: rgba(103, 88, 243, 0.1);
}
.countdown-part .fa-grin-hearts{
    color: #37af47;
    background-color: rgba(55, 175, 71, 0.1);
}
.countdown-part .fa-user-md{
    color: #f6ab2f;
    background-color: rgba(246, 171, 47, 0.1);
}
.countdown-part .fa-hospital{
    color: #1665d8;
    background-color: rgba(22, 101, 216, 0.1);
}
.countdown-part:hover{
    border: none;
    box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.15);

}
.counting{
    color: #111;
    font-size: 36px;
    font-weight: 400px;
    margin: 10px;
    
}
.exp-count::after {
    content: counter(count);
    animation: counter1 .4s linear ;
    counter-reset: count 29 ;
  }
  .pat-count::after {
    content: counter(count);
    animation: counter2 .4s linear ;
    counter-reset: count 2354 ;
  }
  .doc-count::after {
    content: counter(count);
    animation: counter3 .4s linear ;
    counter-reset: count 99 ;
  }
  .hos-count::after {
    content: counter(count);
    animation: counter4 .4s linear ;
    counter-reset: count 125 ;
  }
  .countdown-part p{
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 600;
    color: #666;
    padding: 5px 0;
}
.countdown-video{
    margin-top: 100px;
    margin-right: 100px;
    background: url(../imgs/video-block-img.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
}
.countdown-video-i {
    position: absolute;
    top: 38%;
    left: 38%;
    color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.countdown-video-i i{
    font-size: 30px;
    padding: 25px;

}
/* pricing******************************************************************* */
.pricing{
    margin-top: 100px;
}
.pricing-title{
    font-size: 60px;
}
.pricing-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.pricing-logo-container{
    position: relative;
}
.pricing-logo{
    animation: rotating 6s infinite linear;
}
.pricing-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.pricing-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.pricing-card{
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(106, 106, 106, 0.15);
    transition: all .5s ease-in-out;
    margin: 30px;
    
}

.price-title{
    background: url(../imgs/price-bg.svg);
    color: #fff;
    height: 160px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    width: 100%;
}
.price-title h2{
    font-size: 36px;
    font-weight: 400;
    padding-top: 30px;
}
.pricing-info{
    padding: 20px;
}
.pricing-info h4{
    color: #111;
    font-size: 15;
    font-weight: 400;
}
.pricing-info ul{
    list-style: none;
    color: #666;
    padding-inline-start: 0!important;
}
.pricing-info .fa-check{

color: #37af47;
}
.pricing-info .fa-times{
  color: #e6492d;
}
.pricing-contact{
   color: #0cb8b6;
   border: 1px solid #0cb8b6;
   background-color: transparent;
   font-size: 16px;
   font-weight: 400;
   transition: all .3s ease-in-out;
   padding: 10px 5px;  
   margin-top: 10px;
   margin-bottom:50px;  

}
.pricing-card:hover button{
    color: #fff;
    background-color: #0cb8b6;
}
.pricing-card button:hover{
transform: scaleY(1.1);
} 
#owl-carousel3{
    transition: all .5s ease-out;
}
.price-item{
    transition: all .8s ease-out;

}
/* #owl-carousel3:hover .price-item{
    /* opacity: .5; */
    /* transform: scale(.9); */

/* #owl-carousel3 .pricing-card:hover{ */
    /* opacity: 1!important; */
    /* transform: scaleX(1.1); */
/* } */ 
/* questions**************************************************************** */
.questions{
     background: #f9fafc;
}
.questions-row{
    background: url(../imgs/section_shape.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 100px 70px 50px 70px;

}
/*subscribe **************************************************************** */

.subscribe{
    margin-top: 0;
    background: url(../imgs/news-letter-bg.png);
    padding-bottom: 50px;
    background-position: top;
}
.subscribe-title{
    font-size: 60px;
}
.subscribe-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.subscribe-logo-container{
    position: relative;
}
.subscribe-logo{
    animation: rotating 6s infinite linear;
}
.subscribe-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.subscribe-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.subscribe-form form{
    position: relative;
    margin-bottom: 20px;
}
.subscribe-form input{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    outline: none;
}
.subscribe-form button{
    position: absolute;
    top: -73%;
    right: 99%;
    color: #0cb8b6;
    background: transparent;
    border: transparent;
    outline: none;
    /* font-size: 16px; */
    padding: 24px;
    margin-top: 10px;
    cursor: pointer;
}


.subscribe-form button i{
       font-size: 26px;
       border-left: 1px solid #eaeaea;
       padding-left: 10px;

}
.subscribe-tel{
    padding: 20px auto 100px auto;
}
.subscribe-tel h2{
    color: #0cb8b6;
}
/* blog************************************************************************************ */

.blog{
    margin-top: 100px;
}
.blog-title{
    font-size: 60px;
}
.blog-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.blog-logo-container{
    position: relative;
}
.blog-logo{
    animation: rotating 6s infinite linear;
}
.blog-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.blog-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.blog-item-row{
    margin:10px 60px;
}
.blog-item{
    overflow: hidden;
    color: #666;
    margin: 10px;
}
.blog-item ul{
    padding-inline-start: 0;
}
.blog-item ul li{
    list-style: none;
    display: inline-block;
    color:#aebcb9;
}
.blog-item ul li a{
    color:#aebcb9;
}
.blog-item ul li a:hover{
    color:#0cb8b6;
}
.blog-adress a{
    color: #111;
    font-size: 20px;
    font-weight: 600;
}
.blog-adress a:hover{
    color: #0cb8b6;
}
.blog-img{
  position: relative;
  overflow: hidden;

}
.blog-img img{
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}
.blog-img:hover img{
    transform: scale(1.1);
}
.blog-img div{
    position: absolute;
    top:0;
    right: 0;
    background:rgba(17,17,17,.4);
    color: #fff;
    width: 100%!important;
    height: 100%;
    display: none;
}
.blog-img:hover div ,.blog-img:hover span{
    display: block;
}
.blog-img span {
    background-color: #0cb8b6;
    position: absolute;
    right: 5%;
    top:0;
    height: 120px!important;
    width: 50px!important;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: none;

}
.blog-img span i{
    background: #fff;
    color: #0cb8b6;
    height: 40px;
    width: 40px;
    margin-top: 73px;
    border-radius: 50%;
    padding-top: 14px;
}
.blog-item button{
    color: #0cb8b6;
    border: 1px solid #0cb8b6;
    border-radius: 5px;
    padding: 10px 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}
.blog-item button:hover{
    color: #fff;
    background: #0cb8b6;
    border: transparent;
   
}

/*services ******************************************************************************* */
.services{
    background: #f9fafc;
    padding: 50px;
}
.row-service{
    padding: 10px 50px;
}
.service-item{
    padding: 30px 20px;
    height: 100px;
    border-radius: 10px;
    background: #f6ab2f;
    margin: 50px 20px;
}
.srvice1{
    background: rgba(246, 171, 47, 0.1)!important;
}
.srvice2{
    background: rgba(12, 184, 182, 0.1)!important;
}
.srvice3{
    background: rgba(230, 73, 45, 0.1)!important;
}
.srvice4{
    background: rgba(55, 175, 71, 0.1)!important;
}
.service-item img{
    width:75%!important;
    margin: auto;
}

/*contact *********************************************************************** */

.contact{
    margin-top: 0;
    background: url(../imgs/contact-shape1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    
}
.contact-title{
    margin-top: 100px;
    font-size: 60px;
}
.contact-first-paragraph{
    line-height: .6rem;
    color:#6b6b6b;
}
.contact-logo-container{
    position: relative;
}
.contact-logo{
    animation: rotating 6s infinite linear;
}
.contact-logo-container::after{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    position: absolute;
    top: 55%;
    right: 45%;
    border-radius: 5px;
    
}
.contact-logo-container::before{
    content: "";
    width: 50px!important;
    height: 3px;
    background-color: #0cb8b6;
    padding: 1px;
    position: absolute;
    top: 55%;
   left: 45%;
   border-radius: 5px;
    
}
.contact-bg{
    background: url(../imgs/contact-shape2.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    

}
/* footer**************************************************************************** */
footer{
    background: url(../imgs/footer-bg.png);
    background-position: bottom;
    background-repeat: repeat-y;
    color: #666;
}
.first-footer{
    position: sticky;
}
.middel-footer{
    padding: 75px;
}
.middel-footer p{
    margin: 20px 0;
}
.middel-footer h5{
    color: #0cb8b6;
    font-weight: 400;
    margin: 5px;
}
.a-middel-footer ul{
    padding-inline-start: 0;
}
.a-middel-footer ul li{
   display: inline-block;
   list-style: none;
   margin: 5px;
   
}
.a-middel-footer ul li i{
    width: 20px;
    height: 20px;
    background: #0cb8b6;
    color: #fff;
    border-radius: 5px;
    padding:4px ;
    transition: all .5s ease-in-out;
}
.a-middel-footer ul li i:hover{
    transform: scale(1.1);
}
.middel-footer ul {
  padding-inline-start: 0;
  list-style: none;
  margin: 20px 0;
  color: #666;
}
.middel-footer ul li{
    margin-top: 15px;
}
.middel-footer a{
    color: #666;
    font-weight: 14px;
}
.middel-footer a:hover{
    color: #0cb8b6;
    margin-left: 4px;
}
.last-footer{
    background: #eaeaea;
    padding: 10px;
    color: #666;
}
.last-footer i{
    color: #fff;
    font-size: 20px;
    background-color: #0cb8b6;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-top: 10px;
}
/* animation********************************************* */
@keyframes rotating{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotatey(360deg);
    }
}
@keyframes couning1{
    0%{
   counter-increment:count 0 ;
    }
    25%{
        counter-increment:count 10 ;

    }
    50%{
        counter-increment:count 20 ;

    }
    75%{
        counter-increment:count 30 ;

    }
    100%{
        counter-increment:count 55 ;

    }
}


  
  @keyframes counter1 {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 1;
    }
    25% {
      counter-increment: count 5;
    }
    50% {
      counter-increment: count 10;
    }
    75% {
      counter-increment: count 15;
    }
    
    100% {
      counter-increment: count 20;
    }
  }
  @keyframes counter2 {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 1000;
    }
    25% {
      counter-increment: count 1500;
    }
    50% {
      counter-increment: count 2000;
    }
    75% {
      counter-increment: count 2200;
    }
    
    100% {
      counter-increment: count 2354;
    }
  }
  @keyframes counter3 {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 10;
    }
    25% {
      counter-increment: count 40;
    }
    50% {
      counter-increment: count 70;
    }
    75% {
      counter-increment: count 90;
    }
    
    100% {
      counter-increment: count 99;
    }
  }
  @keyframes counter4 {
    0% {
      counter-increment: count 0;
    }
    10% {
      counter-increment: count 25;
    }
    25% {
      counter-increment: count 50;
    }
    50% {
      counter-increment: count 75;
    }
    75% {
      counter-increment: count 100;
    }
    
    100% {
      counter-increment: count 125;
    }
  }

/* colors

aqua"basic color" #0cb8b6 
light gray #d4d8d9

*/
html {
    scroll-behavior: smooth;
  }
.infinte{
    animation-iteration-count: infinite;
}